.header {
    display: flex;
    justify-content: center; /* Center the content (logo) horizontally */
    align-items: center;
    position: relative; /* Position elements relatively */
}
 /* Media query for mobile devices */
        @media (max-width: 767px) {
            .header img {
                max-width: 250px !important;
                max-height: 100px !important;
            }
            .language-toggle {
            position: absolute;
            top: 30px !important;; /* Adjust this value to move it further up or down */
            right: 20px !important;; /* Align it to the right */
        }

        .language-toggle button {
            margin: 0 5px !important;;
        }
        }
.back-button {
    position: absolute; /* Position the back button absolutely */
    left: 20px; /* Align it to the left */
    padding: 10px 20px;
    background-color: #e00000;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.back-button:hover {
    background-color: #e00000;
    text-decoration: none;
    color: white;
}

.header img {
    max-width: 500px;
    max-height: 200px;
}
.product-card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: 100%;
    border-color: #e00000;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.package-list {
    list-style-type: none;
    padding: 0;
}

.package-list li {
    margin-bottom: 5px;
}

.package-list span {
    font-weight: bold;
}

.search-box {
    margin-bottom: 20px;
    border-color: #e00000;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px 20px 30px 40px;
    font-size: 16px;
}

.search-box:focus {
    outline: none;
    box-shadow: 0 0 5px #ccc;
}

.search-box::placeholder {
    color: #aaa;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.product-container .col-md-4 {
    flex: 1 1 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .product-container .col-sm-6 {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .product-container .col-md-4 {
        flex: 1 1 33.333%;
        max-width: 33.333%;
    }
}

@media (min-width: 992px) {
    .product-container .col-lg-3 {
        flex: 1 1 25%;
        max-width: 25%;
    }
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
}

.price {
    color: #e00000;
    font-weight: bold;
}

.price-label {
    color: #e00000;
    font-weight: bold;
}

.language-toggle {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 20px;
    top: 60px;
}

#en-button, #ar-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: right !important;
    border-radius: 6px;
    border: 2px solid #e00000;
    color: #e00000;
    background: 0 0;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    height: 42px;
}

#en-button:hover, #ar-button:hover {
    background-color: #e00000;
    color: #fff;
}

footer {
    background-color: #e00000;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.8rem;
    width: 100%;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

@media (max-width: 480px) {
    footer {
        padding: 0.3rem;
        font-size: 0.7rem;
    }
}
