html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.header img {
  width: auto;
  height: auto;
  max-width: 500px; /* Adjust as needed */
  max-height: 200px; /* Adjust as needed */
}
/* 
.search-box {
    margin: 20px 0;
}

.header .search-box {
    margin-left: 60px !important;
    flex-grow: 1;
}

.header .search-box input {
    width: 100%;
    max-width: 300px;
} */

.container {
    flex: 1;
    margin: 2rem auto;
    max-width: 1200px;
}

.item {
    display: block;
    text-align: center;
    padding: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #e00000;
    border-radius: 10px;
    text-decoration: none;
    color: #495057;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.item:hover {
    background-color: #e9ecef;
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.item:active {
    background-color: #e2e6ea;
}

footer {
    background-color: #e00000; /* Keep the background color */
    color: #fff; /* Text color */
    text-align: center; /* Center text */
    padding: 0.5rem; /* Reduce padding for a smaller footer */
    font-size: 0.8rem; /* Smaller font size */
    width: 100%; /* Full width of the page */
}

/* Footer paragraph text adjustments */
footer p {
    margin: 0; /* Remove margin to reduce overall height */
    padding: 0; /* Remove padding from the paragraph */
    font-size: 0.8rem; /* Adjust font size for more compact text */
}

/* Media query for small screens */
@media (max-width: 480px) {
    footer {
        padding: 0.3rem; /* Further reduce padding for mobile screens */
        font-size: 0.7rem; /* Smaller font size on mobile */
    }
}
.language-toggle {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 20px;
    top: 60px; 
 
}
#en-button, #ar-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: right !important; 
    border-radius: 6px;
    border: 2px solid #e00000;
    color: #e00000;
    background: 0 0;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px; 
    height: 42px;
}

#en-button:hover, #ar-button:hover {
    background-color: #e00000;
    color: #fff;
}



@media (max-width: 768px) {
    .item {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 480px) {
    .item {
        width: calc(100% - 1rem);
    }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
